@model _3aqarak.MVC.Areas.Dashboard.ViewModels.FinishViewModel

@{
    ViewBag.Title = "EditFinish";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
@section styles{

    <style>
        label:not(#check), label:not(.modal-title) {
            direction: rtl;
            float: right;
        }

        .card label {
            font-size: 1.4rem;
            margin-bottom: 5px;
        }

        input[type="text"] {
            font-size: 20px;
        }
    </style>
}


<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="@Url.Action("index","dashboard")">الرئيسية</a></li>
        <li class="breadcrumb-item  " aria-current="page"><a href="@Url.Action("Finishings","finish")">التشطيبات</a></li>
        <li class="breadcrumb-item active " aria-current="page">تعديل </li>

    </ol>
</nav>
<div class="card">
    <div class="card-header">
        <h4 class="title text-right">تعديل </h4>
    </div>
    <div class="card-body">


        <form id="addAccess-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PK_Finishings_Id, new { id = "id" })
            <h6 class="reqAlignment ">الرجاء إدخال البيانت التي تحتوي علامة<abbr class="req">*</abbr> </h6>
            <div class="form-group  ">
                <label for="first" class="text-right"> النــوع:<abbr class="req">*</abbr></label>
                <input type="text" class="form-control" id="type" placeholder="الاســــم" name="Type" value="@Model.Type" required>
                @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger text-right" })
            </div>

            @if (Model.IsMaster)
            {
                <div class="form-group">
                    <div class="checkbox icheck">
                        <label id="check">
                            <input id="master" name="IsMaster" type="checkbox" value="true" checked>  (عند تحديده يتم استثناءه من الترشيحات)تحديد كنوع رئيسي
                        </label>
                    </div>
                </div>
                <br />
            }
            else
            {
                <div class="form-group">
                    <div class="checkbox icheck">
                        <label id="check">
                            <input id="master" name="IsMaster" type="checkbox" value="false">  (عند تحديده يتم استثناءه من الترشيحات)تحديد كنوع رئيسي
                        </label>
                    </div>
                </div>
                <br />
            }

            <div class="form-group" style="margin-top:5%">
                <button id="save" type="submit" class="btn btn-default animation-on-hover " style="float:right">حفـــــظ  </button>
            </div>
        </form>

    </div>
</div>
@section scripts{

    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();

        $(document).ready(function () {

            $("#addAccess-form").submit(function (e) {
                e.preventDefault();
                if (!$(this).valid()) {
                    return false;
                }
                var finParam = {
                    PK_Finishings_Id: $("#id").val(),
                    Type: $("#type").val(),
                    IsMaster: $("#master").is(":checked"),
                };
                $.ajax({
                    url: "/dashboard/Finish/UpdateFinish",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        finVM:finParam,
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.Valid) {
                            alertify.alert(result.Message, function () {
                                location.href = "@Url.Action("Finishings", "finish", new { area = "dashboard" })";
                            });
                        }
                        else {
                            alertify.alert(result.Message, function () {
                            });
                        }
                    }
                });
            });

        });
    </script>
}













