@model _3aqarak.MVC.ViewModels.AvailableViewModel


    <style>
        label {
            float: right;
            font-size: 16px;
            font-weight: bold;
            clear: both;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            text-decoration: underline;
        }

        h5 {
            text-align: right;
            font-size: 16px;
            text-decoration: underline;
            font-weight: bold;
        }
       li a{
            font-size:14px;
        }
       .modal {
           top :-409px ;
       }
    </style>



<div class="card">
    <div class="card-header text-right">
        <nav aria-label="breadcrumb" role="navigation" style="direction :rtl">
            <ol class="breadcrumb">  
                @if (ViewBag.demandId != null && ViewBag.demandId > 0)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("EditClientDemand", "ClientDemand", new { id = ViewBag.demandId })">الصفحة السابقة </a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("ClientSales", "Clientsales", new { id = ViewBag.demandId })">الصفحة السابقة </a></li>

                }
                <li class="breadcrumb-item active" aria-current="page">تفاصيل عرض بيع لعميل </li>
            </ol>
        </nav>
    </div>
    <!-- Body-->
    <div class="card-body">
        <div class="table-responsive ps">
            <div class="card">
                <div class="card-body">
                    <form id="AddClientsaleForm">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.PK_AvailableUnits_Id, new { id = "id" })
                        @Html.HiddenFor(m => m.FK_AvaliableUnits_Units_UnitId, new { id = "unit" })
                        @Html.HiddenFor(m => m.tbl_units.FK_Units_Categories_Id, new { id = "cats" })
                        <h4> بيانات الوحدة  </h4>
                        <div class="row">
                            <div class="col">
                                <label>منطقة العقار</label>
                                @Html.DropDownListFor(m => m.tbl_units.FK_Units_Regions_Id, Model.Regions, "اختر المنطقة", new { @class = "form-control", id = "region", required = "required" })
                            </div>
                            <div class="col">
                                <label>فئه العقار</label>
                                @Html.DropDownListFor(m => m.tbl_units.FK_Units_Categories_Id, Model.Categories, "اختر الفئه", new { @class = "form-control", id = "region", required = "required" })
                            </div>
                            <div class="col">
                                <label>نوع المعاملة</label>
                                @Html.DropDownListFor(m => m.FK_AvaliableUnits_Transaction_TransactionId, Model.Transactions, "اختر نوع التعامل", new { @class = "form-control", id = "trans", required = "required" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label" for="address">العنوان</label>
                            <textarea class="form-control sty" id="address" rows="3" required style="border :1px solid #2b3553  ; border-radius:10px" readonly>@Model.tbl_units.Address</textarea>
                        </div>*@
                        @* //////////////////////////////////////////////*****  NEW !!! ***** //////////////////////////////////////////////////////////////////////*@

                        <div class="form-group">
                            <label>رقم الشقه</label>
                            <input type="number" class="form-control" placeholder="رقم الشقه" min="0" value="@Model.tbl_units.FlatNumber" id="FlatNumber" readonly>
                        </div>

                        <div class="form-group">
                            <label>رقم العقار</label>
                            <input type="number" class="form-control" placeholder="رقم العقار " min="0" value="@Model.tbl_units.ApartmentNumber" id="ApartmentNumber" readonly>
                        </div>

                        <div class="form-group">
                            <label>رقم المجموعه</label>
                            <input type="number" class="form-control" placeholder=" رقم المجموعه" min="0" value="@Model.tbl_units.GroupNumber" id="GroupNumber" readonly>
                        </div>

                        @*//////////////////////////////////////////////*****  NEW !!! ***** //////////////////////////////////////////////////////////////////////*@
                        <div class="form-group">
                            <label>المساحة</label>
                            <input type="number" class="form-control" placeholder="المساحة" min="0" value="@Model.tbl_units.Space" id="space" readonly>
                        </div>

                        <div class="form-group">
                            <label>عدد الغرف</label>
                            <input type="number" class="form-control" placeholder="عدد الغرف" min="0" value="@Model.tbl_units.Rooms" id="rooms" readonly>
                        </div>

                        <div class="form-group">
                            <label>عدد الحمامات</label>
                            <input type="number" class="form-control" placeholder="عدد الحمامات" min="0" value="@Model.tbl_units.Bathrooms" id="baths" readonly>
                        </div>

                        <div class="form-group">
                            <label>الطــابق</label>
                            <input type="number" class="form-control" placeholder="الطــابق" min="0" value="@Model.tbl_units.Floor" id="floor" readonly>
                        </div>

                        <div class="form-group ">
                            <label>السعــر /الايجار المطــلوب</label>
                            <input type="number" class="form-control sty form-control" id="price" min="0" placeholder="السعر المطلوب" readonly value="@Model.Price" required>
                        </div>
                        <div class="form-group ">
                            <label>طــريقة الدفع:</label>
                            @Html.DropDownListFor(m => m.FK_AvailableUnits_PaymentMethod_Id, Model.Payments, "", new { @class = "form-control", id = "payment", required = "required" })
                        </div>
                        <div class="row" id="FilterHedin">
                            <div class="form-group">
                                <label>المتبقي</label>
                                <input type="number" class="form-control"  min="0" value="@Model.Remaining" readonly>
                            </div>
                            <div class="form-group">
                                <label>المكسب</label>
                                <input type="number" class="form-control"  min="0" value="@Model.Over"  readonly>
                            </div>
                            <div class="form-group">
                                <label>سنوات الأقساط</label>
                                <input type="number" class="form-control"  min="0" value="@Model.YearOfInstallment"  readonly>
                            </div>
                            <div class="form-group">
                                <label>نظام القسط</label>
                                @{
                                    var BOI = Model.BasisOfInstallment;
                                    if (BOI == 1)
                                    {
                                        <input type="text" class="form-control" placeholder="نظام الأقساط" min="0" value="سنوي" readonly>
                                    }
                                    else if (BOI == 2)
                                    {
                                        <input type="text" class="form-control" placeholder="نظام الأقساط" min="0" value="نصف سنوي" readonly>
                                    }
                                    else if (BOI == 3)
                                    {
                                        <input type="text" class="form-control" placeholder="نظام الأقساط" min="0" value="ربع سنوي" readonly>
                                    }
                                    else if (BOI == 4)
                                    {
                                        <input type="text" class="form-control" placeholder="نظام الأقساط" min="0" value="شهري" readonly>
                                    }
                                    else
                                    { <input type="text" class="form-control" placeholder="نظام الأقساط" min="0" value="لا يوجد"  readonly>}

                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>تشطيب الوحدة</label>
                                @Html.DropDownListFor(m => m.tbl_units.FK_Units_Finishing_Id, Model.Finishings, "اختر نوع التشطيب", new { @class = "form-control", id = "finishing", required = "required" })
                                @Html.ValidationMessageFor(m => m.tbl_units.FK_Units_Finishing_Id, "", new { @class = "text-danger", id = "finishError" })
                            </div>
                            <div class="col">
                                <label>الكماليات المتاحة</label>
                                @*@Html.DropDownListFor(m => m.AccessoriesArr, Model.Accessories, new { @class = "form-control", id = "access", required = "required", multiple = "multiple" })*@
                                <select class="form-control valid" data-val="true" data-val-required="لابد من ملا هذا الحقل" id="access" multiple="multiple" name="AccessoriesArr" required="required">
                                    @foreach (var item in Model.Accessories)
                                    {
                                        if (item.Selected)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>

                                        }

                                    }
                                </select>
                            </div>

                            <div class="col">
                                <label>الاطــــلاله</label>
                                @Html.DropDownListFor(m => m.tbl_units.FK_Units_Views_Id, Model.Views, new { @class = "form-control", id = "view", required = "required" })
                            </div>
                        </div>

                        @*<div class="form-group ">
            <h5>وصف الوحدة</h5>
            <textarea class="form-control sty" id="unitDescrip" rows="3" style="border :1px solid #2b3553  ; border-radius:10px" readonly>@Html.Raw(Model.tbl_units.Descreption)</textarea>
        </div>*@

                        <!-- Notes Textarea -->
                        <div class="form-group ">
                            <h5>الملاحظـــات</h5>
                            <textarea class="form-control sty" id="notes" rows="3" readonly style="border :1px solid #2b3553  ; border-radius:10px">@Html.Raw(Model.Notes)</textarea>
                        </div>

                        <h5>تفاصيل اضافيه</h5>
                        <div class="row" style="float:right">

                            <div class="checkbox icheck form-check form-check-inline">
                                <label>
                                    @if (Model.tbl_units.IsFurniture)
                                    {
                                        <input id="furnish" name="" type="checkbox" value="true" checked>
                                    }
                                    else
                                    {
                                        <input id="furnish" name="" type="checkbox" value="false">
                                    }
                                    مفروش
                                </label>
                            </div>
                            <div class="checkbox icheck form-check form-check-inline">
                                <label>
                                    @if (Model.IsNegotiable)
                                    {
                                        <input id="negotiate" name="" type="checkbox" value="true" checked>
                                    }
                                    else
                                    {
                                        <input id="negotiate" name="" type="checkbox" value="false">
                                    }
                                    قابل للنقاش
                                </label>
                            </div>

                        </div>
                        <br> <br> <br>
                        <h4>بيانات اضافيه عن العرض   </h4>
                        @*<div class="form-group ">
            <h5>عنوان العرض</h5>
            <textarea class="form-control sty form-control" id="title" readonly>@Html.Raw(Model.Title)</textarea>
        </div>


        <div class="form-group ">
            <h5>وصــف العرض</h5>
            <textarea class="form-control sty form-control" id="description" readonly>@Html.Raw(Model.Description)</textarea>
        </div>*@

                        <div class="form-group">
                            <label>صـــــور الوحــده:</label>
                            @if (Model.Images.Any())
                            {
                                var counter = 0;
                                var index = 0;
                                int elementsInloop = 0;
                                var loops = (Model.Images.Length % 4 > 0) ? ((Model.Images.Length / 4) + 1) : ((Model.Images.Length / 4));
                                for (int i = 0; i < loops; i++)
                                {
                                    <div>
                                        @{
                                            index = counter;
                                            elementsInloop = (Model.Images.Length - counter) > 4 ? 4 : Model.Images.Length - counter;

                                        }

                                        @for (int j = index; j < index + elementsInloop; j++)
                                        {

                                            <img src="~/@Model.Images[j]" width="100" height="100" style="border:1px thin grey;margin-right:5px;" alt="">

                                            counter = counter + 1;
                                        }

                                    </div>
                                }
                            }
                            else
                            {

                                <div class="alert alert-danger text-right" role="alert">
                                    لايوجد صور متاحة للوحده !
                                </div>
                            }

                        </div>

                        <br /><br /><br />


                    </form>                 

                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"> </div>
            </div>
            <div class="ps__rail-y" style="top: 0px; left: 594px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"> </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; left: 1094px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </div>  <!-- End of body-->

</div>

  
    <script>
        //CKEDITOR.replace('notes');
        //CKEDITOR.replace('description');
        //CKEDITOR.replace('title');

        
        $("document").ready(function () {
             if ($("#payment").val() ==3) { $("#FilterHedin").hide() }
            $("select").attr("disabled", "diasabled");
            $("input[type='checkbox']").attr("disabled", "diasabled");

        });

    </script>




