@model _3aqarak.MVC.ViewModels.VillaDemandViewModel
@{
    ViewBag.Title = "VillasDemandAvailable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@section styles{
    <style>



        label {
            float: right;
            font-size: 16px;
            font-weight: bold;
            clear: both;
            margin-bottom: 10px;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            text-decoration: underline;
        }

        h5 {
            text-align: right;
            font-size: 16px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ui-menu-item-wrapper {
            font-size: 20px;
            text-align: right;
        }
    </style>
}

<div class="card">
    @Html.AntiForgeryToken()
    <div class="card-header">
        <div class="card-header text-right">
            <nav aria-label="breadcrumb" role="navigation" style="direction :rtl">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index","Home")" style="color:#0098f0"> الصفحة الرئيسية </a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
                    <li class="breadcrumb-item active" aria-current="page"> حجز المعاينة  </li>
                </ol>
            </nav>
        </div>

    </div>
    <div class="card-body">
        <div class="form-group">
            <input type="text" class="form-control" id="clientSearchTxt" placeholder="بحث عن 'طلبات عميل معين بالاسم او الهاتف">
            <div id="clientAvailablesDiv" style="display:none;">
                <table class="table text-right table-hover " id="matchTable">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">اسم المشتــري </th>
                            <th> رقــم الطلب</th>
                            <th> تاريـــخ المعاينه</th>
                            <th>تفاصيل الطلب</th>
                            <th> الاتصال بالمشتري</th>
                            <th> حجز معاينة</th>
                            <th>المواعيد</th>
                        </tr>
                    </thead>
                </table>
                <button type="button" id="callSeller" title="تفاصيل الاتصـتال " rel="tooltip" class="btn btn-success" data-id="@Model.selerId" data-offer="@Model.AvailableId" data-type="sale" data-catId="@_3aqarak.MVC.Helpers.Categories.Villas">
                    الاتصــــال بالبائع
                </button>
            </div>
        </div>
    </div>


    <!--Modal details-->
    <div class="modal fade" id="detailsModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered ">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Modal Contacts-->
    <div class="modal fade" id="calls" tabindex="-1" role="dialog" aria-labelledby="calls" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!--Modal dates-->
    <div class="modal fade" id="dates" tabindex="-1" role="dialog" aria-labelledby="dates" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="My-Dates-Modal-Body">
                    <div class="text-center">
                        <h4 id="dateOfReservation">المواعيد المحجوزه مسبقا</h4>
                        <button type="button" class="btn btn-success btn-sm" data-id="@Model.AvailableId" id="reservationDates">بحث</button>
                        <input type="date" class="form-control-sm " value="@DateTime.Now.ToString("yyyy-MM-dd")" id="mydate" />
                    </div>
                    <div id="datesBody">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade " role="dialog">
        <div class="modal-dialog .modal-dialog-centered  " role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">تفاصيل العرض</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>


        var token = $('input[name="__RequestVerificationToken"]').val();
        var clientId = 0;
        $(document).ready(function () {
            //client auto complete

            $("#clientSearchTxt").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/demandQuicksearch/ClientAutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { text: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name + "-" + item.PK_Client_Id };
                            }));
                        }
                    });
                },

                select: function (event, ui) {
                    $("#clientAvailablesDiv").show(1000);
                    clientId = ui.item.value.split("-")[1];
                    ui.item.value = ui.item.value.split("-")[0];
                    matchTable.draw();

                },
            });

            matchTable = $("#matchTable").DataTable({
                "language": {
                    "url": "/Theme/assets/Plugins/DataTables/arabic.lang.json"
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,
                "bFilter": false,
                "bInfo": false,
                "bLengthChange": false,
                "stateSave": true,
                "ajax": {
                    "url": "/VillasAvailable/LoadDemandsData/",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.id = clientId;
                    },

                },
                "columns": [
                    { "data": "FK_VillasDemands_Clients_ClientId", "name": "FK_VillasDemands_Clients_ClientId", "autoWidth": true },
                    { "data": "BuyerName", "name": "BuyerName", "autoWidth": true },
                    { "data": "PK_VillasDemands_Id", "name": "PK_VillasDemands_Id", "autoWidth": true },
                     {
                        "render": function (data, type, full, meta) { return ' <input type="datetime-local" class="form-control date" autocomplete="off" required><span class="text-danger dateErr" ></span >'; }
                    },
                     {
                          "render": function (data, type, full, meta) { return ' <button type="button" title="تفاصيل الطلب " rel="tooltip" class="btn btn-link details "   data-id="' + full.PK_VillasDemands_Id + '">تفاصيل الطلب</button>'; }
                    },

                    {
                        "render": function (data, type, full, meta) { return '<button class="btn btn-default call" id="search-button" data-id="' + clientId + '" data-offer="' + full.PK_VillasDemands_Id+ '" data-type="demand" data-catId="'+full.FK_VillasDemands_Categories_Id+'"> الاتصـــال  </button>'; }
                    },
                    {
                        "render": function (data, type, full, meta) { return '  <button type="button" title="حجز معاينة " rel="tooltip" class="btn btn-success preview " data-Buyer="'+full.FK_VillasDemands_Clients_ClientId+'"data-demandId="'+full.PK_VillasDemands_Id+'"data-catId="'+full.FK_VillasDemands_Categories_Id+'"> حجــز معاينه </button>'; }
                    },
                    {
                        "render": function (data, type, full, meta) { return '  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dates"> اوقــات الحجز </button>'; }
                    },
                ]
            });


             $("#matchTable").on("click",".details",function () {
                var Id = $(this).attr("data-id");
                $.ajax({
                    "url": "/VillasDemand/DemandDetails/",
                    accept: "applicaton/html",
                    type: "post",
                    dataType: "html",
                    data: {

                        id: Id,
                    },
                    success: function (response) {
                        $("#detailsModal").find(".modal-body").html(response);
                        $("#detailsModal").modal("show");
                    },
                    error: function () {
                        alertify.alert("حدث خطا في حفظ البيانات!")
                    }

                });
            });


            $("#callSeller").on("click", function () {
                var btn = $(this);
                $.ajax({
                    "url": "/ClientCalls/GeClientContact/",
                    accept: "applicaton/html",
                    type: "post",
                    dataType: "html",
                    data: {
                        clientId: $(btn).attr("data-id"),
                        offerId: $(btn).attr("data-offer"),
                        OfferType: $(btn).attr("data-type"),
                        catId:$(btn).attr("data-catId"),

                    },
                    success: function (response) {
                        $("#calls").find(".modal-body").html(response);
                        $("#calls").modal("show");
                    },
                    error: function () {
                        alertify.alert("حدث خطا في حفظ البيانات!")
                    }

                });


            });


          $("#matchTable").on("click", ".call", function () {
                var btn = $(this);
                $.ajax({
                    "url": "/ClientCalls/GeClientContact/",
                    accept: "applicaton/html",
                    type: "post",
                    dataType: "html",
                    data: {
                        clientId: $(btn).attr("data-id"),
                        offerId: $(btn).attr("data-offer"),
                        OfferType: $(btn).attr("data-type"),
                        catId:$(btn).attr("data-catId")

                    },
                    success: function (response) {
                        $("#calls").find(".modal-body").html(response);
                        $("#calls").modal("show");
                    },
                    error: function () {
                        alertify.alert("حدث خطا في حفظ البيانات!")
                    }

                });


            });



    $("#reservationDates").click(function () {
            var id = $(this).attr("data-id");
        var date = $("#mydate").val();
        var cat= $(this).attr("data-catId");
            $("#datesBody").empty();
            $.ajax({
                type: "get",
                url: "/Preview/getDatesRelated/",
                data: { id: id, date: date ,catId: cat},
                success: function (dates) {

                    if (dates.length === 0) {
                        $("#datesBody").html("لا يوجد مواعيد لعرضها");
                    }
                    else {
                        $("#datesBody").empty();
                        $.each(dates, function (i, value) {
                            $("#datesBody").append("<span>" + value + "</span>" + "<br/>");
                        });
                    }
                },
                error: function () {
                    $("#datesBody").html("لا يوجد مواعيد لعرضها");
                }
            });
        });
        $("#matchTable ").on("click",".preview",function () {
            var availableList = [];
            var availableCatList = [];
            var dateList = [];
            var demandcat = $(this).attr("data-catId");
            if ($(this).parents("tr").find(".date").val() === "" || $(this).parents("tr").find(".date").val() === null) {
                $(this).parents("tr").find(".date").siblings(".dateErr").html("لا بد من ادخال التاريخ والوقت الخاص بالمعاينة!");
                alertify.set("notifier","position","top-right")
                alertify.notify("لا بد من ادخال التاريخ والوقت الخاص بالمعاينة","error", 3, function () { });
                return false;
            }
            else {
                $(this).parents("tr").find(".date").siblings(".dateErr").html("");
            }
            availableList.push("@Model.AvailableId");
            availableCatList.push("@_3aqarak.MVC.Helpers.Categories.Villas");
            dateList.push( $(this).parents("tr").find(".date").val());
            var demId = $(this).attr("data-demandId");
            var buyId = $(this).attr("data-Buyer");
            var sellId = "@Model.selerId";
            $.ajax({
                url: "/preview/AddPreview/",
                type: "post",
                dataType: "json",
                data: {
                    __RequestVerificationToken: token,
                    buyerId:buyId,
                    demandId: demId,
                    availableCatIds:availableCatList,
                    availableIds: availableList,
                    sellerId:sellId,
                    dates: dateList,
                    demanCat:demandcat,
                },
                success:function( response){
                    if (response.Valid) {
                        if (response.UrlList != null) {
                            $("#My-Dates-Modal-Body").html(response.UrlList);
                        }
                        else {
                            $("#My-Dates-Modal-Body").html("لا يوجد مواعيد لعرضها");
                        }
                        alertify.alert(response.Message,function(){
                            location.href="@Url.Action("PreviewsList","Preview")";
                        });
                    }
                    else{
                        alertify.alert(response.Message,function(){

                        });
                    }

                },
                error:function(){

                },

            });

        });        });
    </script>
}
