@model _3aqarak.MVC.Areas.Dashboard.ViewModels.CatViewModel
@{
    ViewBag.Title = "EditCat";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        label:not(#check), label:not(.modal-title) {
            direction: rtl;
            float: right;
        }

        .card label {
            font-size: 1.4rem;
            margin-bottom: 5px;
        }

        input[type="text"] {
            font-size: 20px;
        }
    </style>
}


<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="@Url.Action("index","dashboard")">الرئيسية</a></li>
        <li class="breadcrumb-item  " aria-current="page"><a href="@Url.Action("cats","category")">الفئات</a></li>
        <li class="breadcrumb-item active " aria-current="page">تعديل </li>

    </ol>
</nav>
<div class="card">
    <div class="card-header">
        <h4 class="title text-right">تعديل </h4>
    </div>
    <div class="card-body">


        <form id="editCat-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PK_Categories_Id, new { id = "id" })
            <h6 class="reqAlignment ">الرجاء إدخال البيانت التي تحتوي علامة<abbr class="req">*</abbr> </h6>
            <div class="form-group  ">
                <label for="first" class="text-right"> الفـئه:<abbr class="req">*</abbr></label>
                <input type="text" class="form-control" id="cat" placeholder="النــوع" value="@Model.CategoryName" name="CategoryName" required>
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger " })
            </div>

            <div class="form-group" style="margin-top:5%">
                <button id="save" type="submit" class="btn btn-default animation-on-hover " style="float:right">حفـــــظ</button>
            </div>
        </form>

    </div>
</div>
@section scripts{

    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();

        $(document).ready(function () {

            $("#editCat-form").submit(function (e) {
                e.preventDefault();
                if (!$(this).valid()) {
                    return false;
                }
                var param = {
                    PK_Categories_Id:$("#id").val(),
                    CategoryName: $("#cat").val(),
                };
                $.ajax({
                    url: "/dashboard/category/updateCat",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        catVM:param,
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            alertify.alert("تم الحفظ بنجاح", function () {
                                location.href = "@Url.Action("cats", "category", new { area = "dashboard" })";
                            });
                        }
                        else {
                            alertify.alert("لم يتم الحفظ بنجاح!", function () {
                            });
                        }
                    }
                });
            });

        });
    </script>
}

























